/* ===== Mobile ===== */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  /* margin-bottom: 40px; */
  width: 100%;
  max-width: 329px;
  /* margin-left: auto;
  margin-right: auto; */
}

.input,
.button {
  width: 100%;
  height: 48px;
  font-size: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 0 12px;
}
.input {
  padding: 12px;
  border: 1px solid #d9d9d9;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  background-color: #9b643d;
  border: none;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #86512f;
}

.input {
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
}

.input::placeholder {
  color: #999;
}

.inputError {
  border: 2px solid #d20000;
  background-color: #fff0f0;
  box-shadow: none;
}
.inputGroup {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  position: relative;
}

.errorText {
  position: absolute;
  bottom: -18px; /* розташувати нижче за інпут */
  left: 0;
  font-size: 14px;
  color: #d20000;
}

/* .errorVisible {
  max-height: 20px;
  opacity: 1;
} */

/* === Tablet (768–1439px) === */
@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    max-width: 671px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0;
  }

  .input {
    /* min-width: 400px; */
    width: 471px;
    height: 46px;
    font-size: 18px;
  }

  .button {
    width: 176px;
    height: 46px;
    font-size: 18px;
  }
}

/* === Desktop (1440px) === */
@media screen and (min-width: 1440px) {
  .form {
    max-width: 661px;
    gap: 12px;
  }

  .input {
    /* min-width: 460px; */
    /* height: 54px; */
    width: 459px;
  }

  .button {
    width: 190px;
    /* height: 54px; */
    font-size: 18px;
  }
}
