/* Контейнер навігації */
.navigationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background-color: #3d2218;
}

/* Ліва частина */
.leftSide {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Права частина */
.rightSide {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Посилання */
.link {
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  transition: border-color 0.3s ease;
}

.link:hover,
.link:focus {
  transform: scale(1.03);
}

/* Активне посилання */
.active {
  border-bottom: 1px solid #ffffff;
}

/* Кнопка "Register" і "My Profile" */
.buttonLink {
  background-color: #9b6c43;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}

.buttonLink:hover {
  background-color: #a6754e;
}

/* Кнопка */
.addButton {
  composes: buttonLink;
}

/* іконка */

.logoutButton {
  border: none;
  /* padding: 0; */
}
.logoutButton {
  /* background-color: #c58f65; */
  background-color: transparent;

  outline: none;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  /* font-size: 16px; */
  transition: background-color 0.3s ease;
}

.logoutButton:focus,
.logoutButton:hover {
  background-color: #a6754e;
}

/* Інформація про користувача */
.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 14px;
}

.userName {
  font-size: 12px;
  font-weight: 600;
}

/* перша літера імені */
.avatarCircle {
  background-color: #a6754e;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Роздільник перед Log Out */
/* .separator {
  width: 1px;
  height: 32px;
  background-color: #ffffff55;
} */

.userInfoNonAuth {
  display: flex;
  align-items: center;
  gap: 12.5px;
}

.logoutIcon {
  /* display: block; */
  /* font-size: 20px; */
  /* line-height: 1; */
  width: 24px;
  height: 24px;
  color: #ffffff;
}

.userName {
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .navigationContainer {
    flex-direction: column;
    gap: 36pxpx;
    align-items: flex-start;
  }

  .leftSide,
  .rightSide {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
  }

  .link {
    font-size: 13px;
    padding-bottom: 1px;
  }

  .buttonLink {
    font-size: 13px;
    padding: 6px 12px;
  }

  .addButton {
    font-size: 13px;
    padding: 6px 12px;
  }

  .logoutButton {
    padding: 6px 10px;
    border-radius: 6px;
  }

  .logoutIcon {
    width: 20px;
    height: 20px;
  }

  .userInfo {
    gap: 6px;
    font-size: 13px;
  }

  .avatarCircle {
    width: 28px;
    height: 28px;
    font-size: 13px;
  }

  .separator {
    display: none;
  }

  .userInfoNonAuth {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
/* mobil */
@media (max-width: 767px) {
  .navigationContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

  }

  .leftSide {
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }

  .rightSide {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
  }

  .avatarCircle {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }

  .logoutButton {
    padding: 0;
  }

  .logoutIcon {
    width: 24px;
    height: 24px;
  }

  .addButton {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    background-color: #a6754e;
    border-radius: 12px;
  }

  .userInfoNonAuth {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 36px;
  }

  .buttonLink {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
  }

  .link {
    font-weight: 600;
    font-size: 16px;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.userName {
  padding-right: 16px;
}

.userInfo {
  gap: 12px;
  font-size: 16px;
  border-right: 1px solid #fff;
}
