.header {
  background: #3d2218;
  padding: 14px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;

  color: #fff;
}

.btnBgrOpenModalMenu {
  display: flex;
  background-color: inherit;
  border: unset;
  padding: 10px 8px 11px 8px;
  width: fit-content;
  height: fit-content;
}

.iconOpen {
  color: #fff;
  font-size: 20px;
}

.wrapperBgrMenu {
  padding: 14px 16px 0 16px;
  width: 100%;
  height: 100%;
  background: #3d2218;
}

.btnCloseModalMenu {
  display: flex;
  background-color: inherit;
  border: unset;
  padding: 10px 8px 11px 8px;
  width: fit-content;
  height: fit-content;
}

.iconClose {
  color: #fff;
  font-size: 22px;
}

.wrapperLogoModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* TABLET STYLES */

@media (min-width: 768px) {
  .header {
    padding: 15px 0;
  }

  .navMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;

    color: #fff;
  }
}
