.header {
  background: #3d2218;
  padding: 14px 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  display: flex;

  justify-content: space-between;
  gap: 100px;
}
