.wrapperModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btnBgrOpenModalMenu {
  display: flex;
  background-color: inherit;
  border: unset;
  padding: 10px 8px 11px 8px;
  width: fit-content;
  height: fit-content;
  transition: transform 0.3s ease;
}

.btnBgrOpenModalMenu:hover,
.btnBgrOpenModalMenu:focus {
  transform: scale(1.1);
}

.iconOpen {
  color: #fff;
  font-size: 20px;
}

.btnCloseModalMenu {
  display: flex;
  background-color: inherit;
  border: unset;
  padding: 10px 8px 11px 8px;
  width: fit-content;
  height: fit-content;
  transition: transform 0.3s ease;
}

.btnCloseModalMenu:hover,
.btnCloseModalMenu:focus {
  transform: scale(1.1);
}

.iconClose {
  color: #fff;
  font-size: 22px;
}

.wrapperBgrMenu {
  padding: 14px 16px 0 16px;
  width: 100%;
  max-width: 393px;
  height: 100%;
  background-color: #3d2218;
  margin: 0 auto;
}
