/* Mobile */
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  /* padding: 0 16px 48px; */
  list-style: none;
  margin: 0 auto 24px;
}

/* Кожна картка */
.list > li {
  width: 100%;
  /* max-width: 361px; */
  display: flex;
  justify-content: center;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .list > li {
    /* max-width: 339px; */
    width: calc((100% - 24px) / 2);
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .list > li {
    width: calc((100% - 72px) / 4);
  }
}
